body {
    margin: 0;
}

.App {
    margin: auto;
    overflow: auto;
    width: 100vw;
    font-family: "Gothic A1";
}

.search-bar-wrap {
    margin: auto;
    margin-top: 3rem;
    width: 72%;
    border: solid 7px #ECEFF1;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.search-content-container {
    border-radius: 20px;
    width: 70%;
    margin: auto;
    margin-top: 2rem;
}

.view-content-container {
    border-radius: 20px;
    width: 70%;
    margin: auto;
    margin-top: 2rem;
    height: fit-content;

}

.head {
    flex: 0 1 50%;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    padding: 5px;
    height: 20px;
}

.sub {
    display: flex;
    background-color: #ECEFF1;
    border: none;
    margin-left: 0;
    margin-right: 0;
}

.advanced-option {
    border: none;
    background-color: #CFD8DC;
    margin: 0 4px 0px 0px;
    padding: 8px;
    width: fit-content;
    text-align: middle;
}

#advanced-option-button,
#lang-option-button {
    width: max-content;
    padding: 0px 11px 0px 0px;
    margin-right: 9px;
    border-right: 1px solid #ECEFF1;
    color: #BDBDBD;
    display: inline-block;
}

#advanced-option-button:hover,
#lang-option-button:hover {
    color: black;
    cursor: pointer;
}

.advanced-option:hover {
    background-color: #B0BEC5;
    cursor: pointer;
}

.form {
    flex-grow: 100;
}

input.search-bar {
    font-size: 100%;
    width: 100%;
    margin: none;
    border: none;
}

.search-bar:focus {
    outline: none;
}

::placeholder {
    color: #d3d3d3;
}

.lang-select-wrap {
    background-color: #ECEFF1;
}


.lang-select {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    list-style: none;
    top: 100%;
    height: 0;
    margin: 0;
    padding: 0;
    background-color: #ECEFF1;
    transition: ease 0.3s;
}

ul.lang-select.active {
    margin-top: 5px;
    transition: ease 0.3s;
    height: 1.8rem;
}

.lang-select-option {
    background-color: #CFD8DC;
    margin: 4px 4px 4px 0px;
    padding: 8px;
    width: fit-content;
    text-align: middle;
    height: 1.8rem;
}

.arrow {
    display: inline;
}

.arrow.rotate {
    display: inline;
    transform: rotate(180deg);
}

.pages {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.page {
    font-size: 110%;
    margin: 2em 2em 4em 0;
    padding: 23px;
    color: #2e86c1;
    text-decoration: underline;
}

.page.active {
    font-weight: bold;
    border: #2e86c1 3px solid;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.page:hover {
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    border: #2e86c1 3px dotted;
    border-radius: 20px;
    padding: 20px;
}

.page.active:hover {
    font-weight: bold;
    border: #2e86c1 3px solid;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.result-notice {
    margin-top: 3rem;
}


/* @media screen and (max-width: 900px) {

    .App {
        font-size: 160%;
    }

    .search-wrap {
        font-size: 120%;
        justify-content: center;
        align-items: center;
    }

    .word {
        width: 45rem;
    }

    .word.view {
        flex-direction: column;
    }

    .word-info {
        width: 24rem;
    }


    .word-info {
        flex-direction: column;
    }

    .senses {
        margin-top: 10px;
    }

    .sense-info {
        flex-direction: column;
    }

    .search-bar-wrap {
        display: block;
    }

    .anki-button,
    .lang-select-wrap {
        display: none;
    }
} */